.job-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
 
}

form input, form textarea {
  transition: all 0.2s ease-in-out;
}
form input:focus, form textarea:focus {
  box-shadow: 0 0 5px #0d6efd;
  border-color: #0d6efd;
}

.job-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  border-right: 0;
}

.search-bar .btn {
  border-left: 0;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #007bff;
}

.card-text {
  font-size: 1rem;
  color: #333;
}
.card-body {
  margin-bottom: 20px;
  background-color: #bec034;
  padding: 20px;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.3s ease;
}
#one{
  color: rgb(163, 101, 7);
}
.list-group-list-group-flush{
  background-color: #bec034;
 
}
